.add-form {
    background-color: #bfd7aed9;
    margin: 40px;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #454545;
}

.add_message {
    background-color: #bfd7aed9;
    margin: 40px;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #454545;
}